.item {
    color: #333333;
    font-size: 20px;
    margin: 5px auto 0;
    font-weight: bold;
}

.itemDone {
    text-decoration: line-through;
    color: #777777;
}

.itemContainer {
    padding: 5px;
    margin: 3px;
}

.line {
    border: 1px solid #3a3a3a;
}

.deleteButton {
    float: right;
    margin-right: 50px;
    border: none;
    background-color: wheat;
    color: #3a3a3a;
    padding: 12px 20px;
    font-size: 14px;
    margin-top: -5px;
    cursor: pointer;
}